// Banner style

.banner {
  margin-bottom: 60px;
  @include mobilePadding;

  @include tabletWidth {
    @include startColumnFlex;
    @include tabletPadding;
    padding-top: 80px;
    padding-bottom: 120px;
  }

  @include desktopWidth {
    @include desktopPadding;
    padding-top: 110px;
    padding-bottom: 240px;
    margin: 0;
  }
}

.banner__title {
  @include extra_largeFont;
  margin: 15px 0;

  @include tabletWidth {
    width: 680px;
    @include sizeSetter(60px, 72px);
    margin: 20px 0;
  }
}

.banner__subtitle {
  width: 273px;
  text-align: center;
  @include largeFont;
  margin: 0;
  margin-bottom: 30px;
  padding: 10px 20px;
  color: $basic_green;
  background-color: $basic_light-green;
  border-radius: 6px;

  @include tabletWidth {
    width: 380px;
    @include sizeSetter(30px, 32px);
    margin-bottom: 50px;
  }

  @include desktopWidth {
    line-height: 36px;
  }
}

.banner__list {
  display: flex;
  column-gap: 8px;
  margin-bottom: 30px;

  @include tabletWidth {
    column-gap: 40px;
  }
}

.banner__item {
  min-width: 104px;
  height: auto;

  @include tabletWidth {
    width: 140px;
    height: auto;
  }

  @include desktopWidth {
    width: 170px;
    height: auto;
  }
}

.banner__icon {
  @include iconSize(40px, 40px);
  border-radius: 50%;
  background-color: $basic_img-background;

  @include desktopWidth {
    @include iconSize(50px, 50px);
  }
}

.banner__description {
  margin: 0;

  @include desktopWidth {
    @include sizeSetter(18px, 28.8px);
  }
}

.banner__consultation-button {
  @include reCenter;

  @include tabletWidth {
    margin-left: 0;
    margin-right: auto;
  }
}

.banner__image {
  @include reCenter;
  @include picSize(328px, 267px);
  margin-top: 30px;
  background-color: $basic_img-background;

  @include desktopWidth {
    @include picSize(654px, 530px);
  }
}
