// Benefits style

.benefits {
  @include mobilePadding;
  @include sectionPadding;

  @include tabletWidth {
    @include tabletPadding;
  }

  @include desktopWidth {
    @include desktopPadding;
    padding-top: 120px;
  }
}

.benefits__list {
  @include rowFlex;
  gap: 16px;

  @include tabletWidth {
    justify-content: space-between;
    gap: 20px;
  }
}

.benefits__item {
  font-size: 14px;
  width: 152px;
  height: auto;

  @include tabletWidth {
    flex-basis: 460px;
    height: 214px;
    gap: 20px;
  }

  @include desktopWidth {
    flex-basis: 280px;
    height: auto;
  }
}

.benefits__icon {
  @include reCenter;
  @include iconSize(40px, 40px);
  background-color: $basic_img-background;
  border-radius: 50%;
}

.benefits__title {

  @include desktopWidth {
    @include sizeSetter(20px, 30px);
  }
}

.benefits__subtitle {
  font-size: 13px;
  line-height: 22.1px;
  color: $basic_text-transparent;

  @include desktopWidth {
    @include sizeSetter(1rem, 27.2px);
  }
}
