//Equitpment style

.equipment {
  padding: 60px 0;
  background: $equipment_background;
}

.equipment__image {
  width: 120px;
  height: 120px;
  background-color: $basic_img-background;
}

.show-more__link {
  display: flex;
  justify-content: center;
}

.equipment__price-button {
  display: block;
  margin: 20px auto;
}
