// Equipment style

.equipment {
  @include mobilePadding;
  @include sectionPadding;
  background: $equipment_background;

  @include tabletWidth {
    padding: 120px 42px;
  }

  @include desktopWidth {
    padding: 120px 370px 90px 370px;
  }
}

.equipment__image {
  @include picSize(120px, 120px);
  background-color: $basic_img-background;

  @include tabletWidth {
    @include picSize(210px, 210px);
  }
}

.show-more__link {
  display: flex;
  justify-content: center;

  @include tabletWidth {
    display: none;
  }
}

.equipment__price-button {
  width: max-content;
  display: block;
  margin: 20px auto;
}
