// Fonts

@font-face {
  font-family: Rubik, sans-serif;
  src: url(../../fonts/Rubik-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Rubik, sans-serif;
  src: url(../../fonts/Rubik-Medium.woff2);
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: Rubik, sans-serif;
  src: url(../../fonts/Rubik-Light.woff2);
  font-weight: 300;
  font-style: light;
}

