//Mixins

@mixin columnFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin rowFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin reCenterFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin headerShadow {
  box-shadow: 0px 15px 30px -10px rgba(119, 122, 144, 0.15);
}

@mixin messageShadow {
  box-shadow: 0px 15px 20px rgba(119, 122, 144, 0.08);
}

@mixin iconSize($width, $height) {
  width: $width;
  height: $height;
}

@mixin picSize($width, $height) {
  width: $width;
  height: $height;
}

@mixin tipFont {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@mixin tipTitleFont {
  font-size: 28px;
  font-weight: 500;
  line-height: 33.6px;
}

@mixin firstFont {
  font-size: 36px;
  line-height: 43.2px;
  font-weight: 500;
}

@mixin secondFont {
  font-size: 20px;
  font-weight: 500;
}

@mixin thirdFont {
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 500;
}

@mixin lightFont {
  font-size: 12px;
  line-height: 15.6px;
  font-weight: 300;
}

@mixin reCenter {
  display: block;
  margin: 0 auto;
}
