// Page__header style

.header__mobile-wrap {
  @include tabletWidth {
    display: none;
  }
}

.header__logo-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  box-shadow: $header_shadow;
}

.site-list {
  display: none;
  @include columnFlex;
  gap: 30px;
  margin: 60px 0;
}

.contact-info {
  display: none;
  background-color: $basic_gray-background;
  padding: 0 16px;
}

.contact-info__email {
  @include columnFlex;
  margin-bottom: 20px;
}

.contact-info__icon {
  @include iconSize(54px, 54px);
  border-radius: 50%;
  background-color: $basic_img-background;
}

.contact-info__link {
  color: $basic_text-color;
}

.contact-info__phone {
  @include columnFlex;
  margin-bottom: 26px;
}

.contact-info__consultation-button {
  @include reCenter;
}

.header__tablet-desktop-wrap {

  @media (max-width: $only_mobile-width) {
    display: none;
  }
}

.tablet-desktop {

  @include tabletWidth {
    display: block;
    @include justifyFlex;
    padding-top: 10px;
    padding-bottom: 10px;
    @include tabletPadding;
    margin: 0;
    box-shadow: $header_shadow;
  }

  @include desktopWidth {
    @include desktopPadding;
  }
}

.tablet-desktop__image {

  @include desktopWidth {
    @include picSize(150px, 55px);
  }
}

.tablet-desktop__list {
  @include spAroundFlex;
}

.tablet-desktop__item {
  @include sizeSetter(18px, 28.8px);
}

.tablet-desktop__link {
  color: $basic_text-color;

  &:hover {
    text-decoration: underline;
  }
}
