// Page_header style

.header__mobile-wrap {
  padding-bottom: 20px;
  @include tabletWidth {
    display: none;
  }
}

.header__logo-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  box-shadow: $header_shadow;
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;

  &::after {
    width: 18px;
    position: absolute;
    top: 0;
    left: 3px;
    height: 2px;
    content: "";
    background-color: $basic_black;
    box-shadow: 0 7px 0 0 black, 0 14px 0 0 black;
  }

  &::after:hover,
  &::after:active {
    color: $basic_text-transparent;
  }
}

.site-list {
  @include columnFlex;
  gap: 30px;
  margin: 60px 0;
}

.site-list__link {
  color: $basic_text-color;

  &:hover {
    text-decoration: underline;
  }
}

.contact-info {
  background-color: $basic_gray-background;
  padding: 0 16px;
}

.contact-info__email {
  @include columnFlex;
  margin-bottom: 20px;
}

.contact-info__icon {
  @include iconSize(54px, 54px);
  border-radius: 50%;
  background-color: $basic_img-background;
}

.contact-info__link {
  color: $basic_text-color;

  &:hover {
    text-decoration: underline;
  }
}

.contact-info__phone {
  @include columnFlex;
  margin-bottom: 26px;
}

.contact-info__consultation-button {
  @include reCenter;
}

.header__tablet-desktop-wrap {

  @include mobileWidth {
    display: none;
  }

  @include tabletWidth {
    display: block;
  }
}

.tablet-desktop {

  @include tabletWidth {
    display: block;
    @include justifyFlex;
    padding: 10px 42px;
    margin: 0;
    box-shadow: $header_shadow;
  }

  @include desktopWidth {
    @include desktopPadding;
  }
}

.tablet-desktop__image {

  @include desktopWidth {
    @include picSize(150px, 55px);
  }
}

.tablet-desktop__list {
  @include spAroundFlex;
}

.tablet-desktop__item {
  @include sizeSetter(18px, 28.8px);
}

.tablet-desktop__link {
  color: $basic_text-color;

  &:hover {
    text-decoration: underline;
  }
}
