// Page-footer style

.page-footer {
  padding-top: 60px;
  padding-bottom: 30px;

  @include tabletWidth {
    @include tabletPadding;
    padding-top: 120px;
  }

  @include desktopWidth {
    @include desktopPadding;
    padding-top: 120px;
  }
}

.footer-social {
  margin-bottom: 60px;

  @include tabletWidth {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer-social__email {
  margin-bottom: 16px;

  @include tabletWidth {
    flex-basis: 271px;
  }
}

.footer-social__icon {
  display: block;
  margin: 0 auto;
  @include iconSize(54px, 54px);
  @include circleRadius;
  background-color: $basic_img-background;
}

.footer-social__link-wrap {
  text-align: center;

  @include tabletWidth {
    @include sizeSetter(20px, 30px);
  }
}

.footer-social__link {
  font-weight: 500;
  color: $basic_text-color;
}

.footer-social__adress {
  margin-bottom: 16px;

  @include tabletWidth {
    flex-basis: 300px;
    margin-left: 49px;
    margin-right: 143px;
  }
}

.footer-social__phone {

  @include tabletWidth {
    flex-basis: 177px;
  }
}

.page-footer__copyright {
  @include sizeSetter(13px, 22.1px);
  text-align: center;

  @include tabletWidth {
    @include sizeSetter(1rem, 27.2px);
    padding: 0 20px 60px 20px;
    color: $basic_text-transparent;
  }
}

.footer-copyright__titleWrap {

  @include tabletWidth {
    width: 698px;
    margin: 10px auto;
  }
}

.footer-copyright__subtitle {
  margin: 0;
}
