// Questions style

.questions {
  margin-bottom: 30px;
  @include mobilePadding;

  @include tabletWidth {
    @include tabletPadding;
  }

  @include desktopWidth {
    @include desktopPadding;
  }
}

.comments-field {
  display: flex;
  flex-direction: column;
  row-gap: 25px;

  @include tabletWidth {
    row-gap: 88px;
  }
}

.user-field {
  margin: 0;
  padding: 0;
}

.user-field__user-message {
  background: $basic_gray-background;
  border-radius: 56px;
  box-shadow: $message_shadow;

  @include tabletWidth {
    @include sizeSetter(20px, 32px);
    max-width: 604px;
  }
}

.user-field__message-text {
  max-height: 48px;
}

.user-field__user-picture {
  @include mainSizes(45px, 45px);
  background: transparent;
  @include reCenterFlex;
}

.user-field__icon {
  @include mainSizes(42px, 42px);
  background-image: url(../../img/svg/questions_icon-blue-shirtWoman.svg);
  background-size: contain;
  background-position: center;
}

.user-field__icon-yellow-shirtMan {
  background-image: url(../../img/svg/questions_icon-yellow-shirtMan.svg);
}

.user-field__icon-green-shirtMan {
  background-image: url(../../img/svg/questions_icon-green-shirtMan.svg);
}

.user-field__icon-rose-shirtWoman {
  background-image: url(../../img/svg/questions_icon-rose-shirtWoman.svg);
}

.questions__image {
  @include reCenter;
  @include picSize(328px, 436px);
  background-color: $basic_img-background;

  @include desktopWidth {
    @include picSize(380px, 630px);
  }
}

.questions__description {
  background: $messages_background;
  border-radius: 16px 0px 0px 16px;

  @include desktopWidth {
    @include sizeSetter(18px, 28.8px);
  }
}

.questions__text {
  padding-left: 32px;
}
