//Realized-objects styles

.realized-objects {
  padding: 2em 1em 0 1em;
  background: linear-gradient(90deg, #F5F6FA 0%, #FFFFFF 100%);
}

.objects__text {
  font-weight: 500;
  line-height: 24px;
}

.objects__image {
  background-color: var(--basic_img-background);
}
