// Realized-objects style

.realized-objects {
  @include mobilePadding;
  @include sectionPadding;
  background: $equipment_background;

  @include tabletWidth {
    @include tabletPadding;
    padding-top: 120px;
    padding-bottom: 60px;
  }

  @include desktopWidth {
    @include desktopPadding;
    padding-bottom: 60px;
  }
}

.objects {

  @include tabletWidth {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
  }
}

.objects__wrap--disabled {
  display: none;
}

.objects__image {
  display: block;
  margin-right: auto;
  background-color: $basic_img-background;
}

.objects__icon {
  @include iconSize(90px, 90px);
  @include columnFlex;
  border-radius: 50%;
  color: $basic_orange;
  background-color: #F5F6FA;

  @include tabletWidth {
    @include mainSizes(80px, 80px);
  }
}

.objects__text {
  margin: 0;
  margin-bottom: 30px;

  @include tabletWidth {
    @include sizeSetter(20px, 30px);
  }
}

.objects__toggles {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
