// Realized-objects style

.realized-objects {
  @include mobilePadding;
  @include sectionPadding;
  overflow: hidden;

  @include tabletWidth {
    padding: 120px 42px 60px 42px;
  }

  @include desktopWidth {
    padding: 0 370px 60px 370px;
  }
}

.objects__wrapper {
  background: linear-gradient(90deg, #F5F6FA 0%, #FFFFFF 100%);
  background-size: cover;
  border-radius: 30px 0px 0px 30px;
  display: flex;
  overflow: hidden;

  @include tabletWidth {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
  }

  @include desktopWidth {
    max-width: 1180px;
  }
}

.objects__wrap {

  @include desktopWidth {
    min-width: 380px;
    min-height: auto;
    background: $basic_white;
    border-radius: 30px 0px;
  }
}

.objects__wrap--disabled {
  display: none;
}

.object__picture {
  @include mainSizes(272px, 272px);
  background-color: $basic_white;
}

.objects__image {
  display: block;
  margin: 0 auto;
  background-color: $basic_img-background;
}

/* .objects__icon {
  @include iconSize(90px, 90px);
  @include columnFlex;
  @include circleRadius;
  color: $basic_orange;
  background-color: #F5F6FA;

  @include tabletWidth {
    @include mainSizes(80px, 80px);
  }
} */

.objects__text {
  margin: 0;
  margin-bottom: 30px;

  @include tabletWidth {
    @include sizeSetter(20px, 30px);
  }
}

.objects__toggles {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
