//Solutions style

.solutions {
  padding-top: 60px;
}

.product-card {
  padding-bottom: 51px;
  background: $basic_light-gray-background;
}

.product-card__pic {
  @include reCenter;
  @include picSize(264px, 240px);
  background-color: $basic_img-background;
}

.product-card__icon {
  @include iconSize(90px, 90px);
  color: $basic_white;
  background-color: $basic_orange;
}

.product-card__title {
  @include secondFont;
}

.product-card__description {
  font-size: 15px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.product-card__list {
  margin-bottom: 15px;
}

.product-card__item {
  font-size: 15px;
  padding-left: 41px;
}

.product-card__item:not(:last-of-type) {
  margin-bottom: 5px;
}

.product-card__item--bolder {
  font-weight: 500;
}

.product-card__price {
  @include reCenterFlex;
  column-gap: 4px;
}

.card-price__title {
  max-width: 201px;
  padding: 17px 20px 17px 16px;
  background-color: $basic_white;
}

.card-price__older {
  @include thirdFont;
  text-decoration: line-through;
  margin-right: 10px;
  color: $basic_text-transparent;
}

.card-price__current {
  @include secondFont;
}

.card-price__description {
  @include lightFont;
  margin: 0;
  margin-top: 8px;
}

.price-button {
  padding: 17px 16px;
  background-color: $basic_white;
}

.price-button__order-button {
  padding: 13px 20px;
}
