:root {
  --basic_white: #fff;
  --basic_black: #000;
  --basic_text-color: ##313647;
  --basic_text-transparent: #777A90;
  --basic_img-background: #505153;
  --basic_green: #009A44;
  --basic_light-green: #EBFAE8;
  --basic_orange: #FF9436;
  --basic_gray-background: linear-gradient(180deg, #FFFFFF 0%, #F5F6FA 27.08%, #F5F6FA 100%);
}
