//Template colors
:root {
  --basic_black: #000;
  --basic_white: #fff;
  --basic_text-color: #313647;
  --basic_text-transparent: #777A90;
  --basic_img-background: #d8daee;
  --basic_green: #009A44;
  --basic_light-green: #EBFAE8;
  --basic_orange: #FF9436;
}
