// Work-steps style

.work-steps {
  margin: 0 auto;
  @include mobilePadding;
  @include sectionPadding;

  @include tabletWidth {
    padding: 120px 42px;
  }

  @include desktopWidth {
    padding: 120px 370px;
  }
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 8px; */
  padding-bottom: 26px;

  @include tabletWidth {
    /* gap: 20px; */
    margin-bottom: 90px;
  }

  @include desktopWidth {
    /* gap: 40px; */
  }
}

.work-list__item {
  @include mainSizes(160px, auto);
  @include columnFlex;
  position: relative;


  @include tabletWidth {
    width: 220px;
    height: auto;
  }

  @include desktopWidth {
    min-width: 260px;
    height: auto;
  }
}

.work-list__icon-wrap {
  @include mainSizes(100px, 100px);
  @include circleRadius;
  background-color: $basic_white;
  box-shadow: 0px 20px 40px -15px rgba(119, 122, 144, 0.5);
  margin: 0 auto;
  @include reCenterFlex;
  position: relative;
}

.work-list__icon {
  @include mainSizes(60px, 60px);
  background-image: url(../../img/svg/work-steps_icon-message.svg);
  background-position: center;
  background-size: contain;

  &::before {
    content: "";
    @include mainSizes(30px, 30px);
    @include circleRadius;
    background-color: $basic_green;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.work-list__icon-callCenter {
  background-image: url(../../img/svg/work-steps_icon-call-center-agent.svg);
}

.work-list__icon-tools {
  background-image: url(../../img/svg/work-steps_icon-tools.svg);
}

.work-list__icon-brackets {
  background-image: url(../../img/svg/banner_work-steps_icon-brackets.svg);
}

.work-list__title {
  text-align: center;
  margin: 10px auto;
  padding: 10px 16px;

  @include tabletWidth {
    @include sizeSetter(20px, 30px);
    font-weight: 500;
  }
}

.work-list__description {
  @include sizeSetter(13px, 22.1px);
  text-align: center;
  margin: 0;
  padding: 5px 16px;

  @include tabletWidth {
    line-height: 27.2px;
  }
}

.work-steps__decorative-line {
  display: flex;
  align-items: center;
  width: 100%;
  height: 18px;
  position: absolute;
  left: 0;
  bottom: -30px;

  @include tabletWidth {
    min-height: 30px;
  }
}

.work-steps__line {
  width: 100%;
  height: 2px;
  background-color: #F5F6FA;
  margin: 0;
}

.work-list__order-button {
  width: max-content;
  margin-top: 30px;
  @include reCenter;

  @include tabletWidth {
    padding: 17px 30px;
  }
}
